@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}

.courses-page {
  main {
    .head {
      .head-content {
        .top {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-top: 16px;
          h6 {
            color: var(--Text-Body, #808080);
            font-family: "Montserrat ";
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
          }
          span {
            color: black;
            font-family: "Montserrat ";
            font-size: 16px;
            font-weight: 700;
          }
          h5 {
            color: var(--Text-Tittle, #1c3554);
            font-family: "Montserrat ";
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
          }
        }
        h1 {
          color: var(--Text-Tittle, #1c3554);
          font-family: Rubik;
          font-size: 64px;
          font-weight: 700;
          line-height: 88px;
          margin: 24px 0;
        }
        p {
          color: var(--Text-Body, #808080);
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
          max-width: 712px;
        }
        h2 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          text-transform: capitalize;
          margin: 56px 0 32px;
        }
      }
    }
    .carousel {
      .cards {
        display: flex;
        gap: 17px;

        justify-content: center;
        flex-wrap: wrap;
        .card {
          display: flex;
          flex-direction: column;
          padding: 16px;
          max-width: 260px;
          transition: all 0.5s linear;
          .top {
            display: flex;
            justify-content: center;
            position: relative;
            top: -16px;
            button {
              border-radius: 8px;
              background: var(--Other-Blue, #4586d6);
              border: none;
              color: var(--Text-white, #fff);
              font-family: "Montserrat";
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              padding: 4px 24px;
              cursor: pointer;
            }
          }

          h5 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-transform: capitalize;
          }
          h6 {
            color: var(--Primary-Pink, #f72585);
            font-family: "Montserrat ";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 8px 0;
          }
          .yulduz {
            display: flex;
            align-items: center;
            gap: 8px;
            img {
              width: 96px;
            }
            span {
              color: var(--Text-Body, #808080);
              font-family: "Montserrat ";
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
            }
          }
          .narx {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 16px;
            del {
              color: var(--Text-In-Field, #ccc);
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 27px;
            }
            h5 {
              color: var(--Text-Tittle, #1c3554);
              font-family: Rubik;
              font-size: 24px;
              font-weight: 500;
              line-height: 32px;
            }
          }
          &:hover {
            background: var(--Other-white, #fff);
            filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
          }
        }
      }
      .owl-carousel {
        position: relative;
      }

      .owl-nav {
        position: absolute;

        top: 50%;
        left: -50px;
        right: -30px;
        display: flex;
        justify-content: space-between;
        transform: translateY(-100%);
      }

      .owl-prev,
      .owl-next {
        width: 51px;
        height: 51px;
        border-radius: 50% !important;
        background: #ccc !important;
        color: #fff !important;
        font-size: 32px !important;
        transition: all 0.5s linear;
        &:hover {
          background: #f72585 !important;
        }
      }
    }
    .topics {
      .top {
        margin-top: 150px;
        margin-bottom: 56px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h1 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 48px;
          font-weight: 700;
          line-height: 63.984px;
        }
        .btn-2 {
          padding: 14px 70px;
          border: none;
          background: #f72585;
          color: var(--Text-white, #fff);
          text-align: center;
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 700;
          line-height: 32px;
          border-radius: 8px;
          width: 288px;
        }
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        .card {
          position: relative;
          max-width: 296px;
          h3 {
            color: var(--Text-white, #fff);
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            position: absolute;
            top: 278px;
            right: 70px;
            left: 70px;
          }
        }
      }
    }
    .all {
      margin-bottom: 150px;
      .all-content {
        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 150px;
          margin-bottom: 56px;
          h1 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 48px;
            font-weight: 700;
            line-height: 63.984px;
          }
          .buttons {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 40px;
            button {
              padding: 16px 40px;
              color: var(--Other-white, #fff);
              font-family: "Montserrat ";
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 32px;
              border-radius: 8px;
              background: var(--Primary-Pink, #f72585);
              border: none;
              width: 244px;
            }
          }
        }
      }
      .all-content-1 {
        display: flex;
        gap: 10px;
        align-items: start;
        aside {
          max-width: 242px;
          width: 100%;

          .content {
            margin-bottom: 32px;
            .rating {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 20px;
              h4 {
                color: var(--Text-Tittle, #1c3554);
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Rubik;
                font-size: 24px;
                font-weight: 700;
                line-height: 32px;
              }
            }
            .qator {
              display: flex;
              align-items: center;
              gap: 8px;
              margin-bottom: 20px;
            }
            .urven {
              .qator {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 20px;
                h4 {
                  color: var(--Text-Tittle, #1c3554);
                  font-family: "Montserrat ";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 32px;
                }
                h5 {
                  color: var(--Text-Tittle, #1c3554);
                  font-family: "Montserrat ";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                }
                h6 {
                  color: var(--Text-Body, #808080);
                  font-family: "Montserrat ";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                }
              }
            }
          }
          hr {
            margin-bottom: 32px;
          }
        }
        .hr {
          background: #808080;
          width: 2px;
          height: 1585px;
          margin-left: 32px;
          margin-right: 10px;
        }
        .cards {
          display: flex;
          gap: 17px;
          justify-content: center;
          flex-wrap: wrap;
          .card {
            display: flex;
            flex-direction: column;
            padding: 16px;
            max-width: 295px;
            transition: all 0.5s linear;
            .top {
              display: flex;
              justify-content: center;
              position: relative;
              top: -16px;
              button {
                border-radius: 8px;
                background: var(--Other-Blue, #4586d6);
                border: none;
                color: var(--Text-white, #fff);
                font-family: "Montserrat";
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                padding: 4px 24px;
                cursor: pointer;
              }
            }

            h5 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              text-transform: capitalize;
            }
            h6 {
              color: var(--Primary-Pink, #f72585);
              font-family: "Montserrat ";
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              margin: 8px 0;
            }
            .yulduz {
              display: flex;
              align-items: center;
              gap: 8px;
              img {
                width: 96px;
              }
              span {
                color: var(--Text-Body, #808080);
                font-family: "Montserrat ";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
              }
            }
            .narx {
              display: flex;
              align-items: center;
              gap: 8px;
              margin-top: 16px;
              del {
                color: var(--Text-In-Field, #ccc);
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
              }
              h5 {
                color: var(--Text-Tittle, #1c3554);
                font-family: Rubik;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
              }
            }
            &:hover {
              background: var(--Other-white, #fff);
              filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
            }
          }
          .page {
            display: flex;
            gap: 16px;
            align-items: center;
            a {
              text-decoration: none;
            }
            h4 {
              color: #e6e6e6;
              font-size: 16px;
              font-weight: 800;
              transition: all 0.5s linear;
              cursor: pointer;
              &:hover {
                color: #f72585;
              }
            }
            h5 {
              color: var(--Text-In-Field, #ccc);
              text-align: center;
              font-family: "Montserrat ";
              font-size: 16px;
              font-weight: 700;
              line-height: 32px;
              width: 32px;
              height: 32px;
              border-radius: 4px;
              transition: all 0.5s linear;
              cursor: pointer;
              &:hover {
                background: #f72585;
                color: #fff;
              }
            }
          }
        }
      }
    }
    @media (max-width: 900px) {
      .all-content-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aside {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 30px;
          max-width: 900px !important;
          .content {
            width: 242px;
          }
          hr {
            display: none;
          }
        }
        .hr {
          display: none;
        }
      }
    }
    @media (max-width: 750px) {
      h1 {
        font-size: 40px !important  ;
      }
      .all .all-content .top {
        flex-direction: column;
        gap: 30px;
        .buttons {
          flex-direction: column;
          gap: 30px;
        }
      }
      .topics .top {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        h1 {
          text-align: center;
        }
      }
    }
    @media (max-width: 553px) {
      .all .all-content-1 aside {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
