@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}

.details-page {
  main {
    .hero {
      background: #666666;
      padding: 16px 0 80px;
      .hero-content {
        max-width: 650px;
        .top {
          display: flex;
          gap: 8px;
          align-items: center;
          padding-top: 16px;
          h6 {
            color: var(--Text-Body, #e6e6e6);
            font-family: "Montserrat ";
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
          }
          span {
            color: #e6e6e6;
            font-family: "Montserrat ";
            font-size: 16px;
            font-weight: 700;
          }
          h5 {
            color: white;
            font-family: "Montserrat ";
            font-size: 16px;
            font-weight: 700;
            line-height: 32px;
          }
        }
        h1 {
          color: var(--Text-white, #fff);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 48px;
          font-weight: 700;
          line-height: 63.984px;
          margin: 64px 0 24px;
        }
        .bottom {
          display: flex;
          align-items: center;
          gap: 17px;
          h4 {
            color: var(--Text-white, #fff);
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
          }
          p {
            color: var(--Text-Disable, #e6e6e6);
            font-family: "Montserrat ";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }
        }
        .profil {
          display: flex;
          align-items: center;
          gap: 16px;
          margin: 40px 0;
          h4 {
            color: var(--Other-white, #fff);
            font-family: Rubik;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
          }
        }
        .buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          button {
            padding: 12px 32px;
            border: none;
            border-radius: 8px;
            background: #f72585;
            color: var(--Other-white, #fff);
            font-family: "Montserrat ";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            display: flex;
            align-items: center;
            gap: 10px;
            span {
              font-size: 28px;
            }
          }
          img {
            cursor: pointer;
          }
        }
      }
    }
    .detail {
      padding: 96px 0;
      .detail-content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .ustun {
          max-width: 712px;
          width: 100%;
          .from {
            h2 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 32px;
              font-weight: 700;
              line-height: 48px;
              text-transform: capitalize;
              margin-bottom: 24px;
            }
            p {
              color: var(--Text-Body, #808080);
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 27px;
            }
          }
          .feature {
            h2 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 32px;
              font-weight: 700;
              line-height: 48px;
              text-transform: capitalize;
              margin-bottom: 40px;
              margin-top: 96px;
            }
            .cards {
              border-radius: 8px;
              background: var(--primary-20-pink, #fff5f9);
              padding: 40px;
              display: flex;
              gap: 20px;
              flex-wrap: wrap;
              justify-content: space-between;
              .card-1 {
                max-width: 281px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                .qator {
                  display: flex;
                  align-items: start;
                  gap: 8px;
                  h4 {
                    color: var(--Text-Tittle, #1c3554);
                    font-family: "Montserrat";
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 800;
                  }
                }
              }
              .card-2 {
                max-width: 632px;
              }
            }
          }
          .modul {
            .top {
              display: flex;
              justify-content: space-between;
              gap: 20px;
              flex-wrap: wrap;
              margin-top: 96px;
              margin-bottom: 40px;
              h2 {
                color: var(--Text-Tittle, #1c3554);
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Rubik;
                font-size: 32px;
                font-weight: 700;
                line-height: 48px;
                text-transform: capitalize;
              }
              h4 {
                color: var(--Text-Tittle, #1c3554);
                text-align: right;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: 32px;
              }
            }
            .develop {
              background: var(--primary-20-pink, #fff5f9);
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 20px;
              padding: 24px 40px;

              h4 {
                color: var(--Text-Tittle, #1c3554);
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 700;
                line-height: 32px;
              }
              img {
                cursor: pointer;
              }
            }
            .develop-content {
              padding: 40px;
              border: 1px solid var(--Text-Disable, #e6e6e6);
              background: var(--Other-white, #fff);
              display: flex;
              flex-direction: column;
              gap: 24px;
              .web {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                flex-wrap: wrap;
                .web-img {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  h4 {
                    color: var(--Text-Tittle, #1c3554);
                    text-align: right;
                    font-family: "Montserrat";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                  }
                }
                h5 {
                  color: var(--Text-Body, #808080);
                  text-align: right;
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 00;
                  line-height: 32px;
                }
              }
            }
            .develop-bottom {
              .qator {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 24px 40px;
                background: var(--primary-20-pink, #fff5f9);
                gap: 20px;
                h4 {
                  color: var(--Text-Tittle, #1c3554);
                  font-family: "Montserrat";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 32px;
                }
              }
            }
          }
          .btn-3 {
            padding: 24px 40px;
            width: 100%;
            border: none;
            background: #f72585;
            color: var(--Other-white, #fff);
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            border-radius: 8px;
            cursor: pointer;
            margin-top: 40px;
          }
        }
        aside {
          max-width: 440px;
          width: 100%;
          .bg {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../../images/bg\ aside.svg);
            width: 100%;
            height: 313px;
          }
          .bottom {
            border-radius: 8px;
            border: 1px solid var(--Text-In-Field, #ccc);
            padding: 32px 24px 40px;

            .top {
              display: flex;
              align-items: center;
              gap: 16px;
              margin-bottom: 24px;
              h4 {
                color: var(--Text-Tittle, #1c3554);
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Rubik;
                font-size: 32px;
                font-weight: 700;
                line-height: 48px;
                text-transform: capitalize;
              }
              del {
                color: var(--Text-In-Field, #ccc);
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Rubik;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
              }
            }

            .chegirma {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 24px 0 32px;
              h4 {
                color: var(--Text-Tittle, #1c3554);
                font-family: Rubik;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
              }
              button {
                border-radius: 8px;
                background: var(--Other-Red, #ef233c);
                border: none;
                padding: 16px 20px;
                color: var(--Text-white, #fff);
                font-variant-numeric: lining-nums proportional-nums;
                font-family: Rubik;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
              }
            }
            .cards {
              display: flex;
              justify-content: space-between;
              gap: 30px;
              margin-bottom: 40px;

              .ustun {
                .card {
                  display: flex;
                  gap: 16px;
                  align-items: center;
                  margin-bottom: 24px;
                  img {
                    width: 32px;
                    height: 32px;
                    background: #4586d6;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  h5 {
                    color: var(--Text-Tittle, #1c3554);
                    font-variant-numeric: lining-nums proportional-nums;
                    font-family: Rubik;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    text-transform: capitalize;
                  }
                }
              }
            }
            .btn-4 {
              border-radius: 8px;
              border: 1px solid var(--Primary-Pink, #f72585);

              color: var(--Primary-Pink, #f72585);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px;
              text-transform: capitalize;
              padding: 24px 40px;
              width: 100%;
              background: transparent;
              cursor: pointer;
              transition: all 0.5s linear;
              margin-bottom: 24px;
              &:hover {
                border-radius: 8px;
                background: var(--Primary-Pink, #f72585);
                color: var(--Other-white, #fff);
              }
            }
          }
        }
      }
    }
    .mentor {
      margin-bottom: 96px;
      .mentor-content {
        max-width: 815px;
        h2 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        .img {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 32px;
          .text {
            display: flex;
            flex-direction: column;
            max-width: 470px;

            h5 {
              color: var(--Text-Body, #808080);
              font-family: "Montserrat";
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 32px;
            }
            span {
              display: flex;
              align-items: center;
              gap: 16px;
              margin-top: 20px;
              margin-bottom: 28px;
              img {
                width: 152px;
              }
              h3 {
                color: var(--Text-Tittle, #1c3554);
                font-family: Rubik;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
              }
              h6 {
                color: var(--Text-Body, #808080);
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
              }
            }
            p {
              color: var(--Text-Body, #808080);
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 27px;
            }
            .course {
              display: flex;
              align-items: center;
              gap: 24px;
              margin-top: 47px;
              .people {
                display: flex;
                align-items: center;
                gap: 8px;
              }
            }
          }
        }
      }
    }
    .feedback {
      .feedback-content {
        h2 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          text-transform: capitalize;
        }
        .bottom {
          display: flex;
          gap: 24px;
          margin-top: 31px;
          .left {
            h1 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 48px;
              font-weight: 700;
              line-height: 63.984px;
            }
            img {
              margin-top: 8px;
              margin-bottom: 16px;
              width: 151px;
            }
            h5 {
              color: var(--Text-Tittle, #1c3554);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              text-transform: capitalize;
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            gap: 12px;
          }
        }
      }
    }
    .review {
      .review-content {
        max-width: 809px;
        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 96px;
          margin-bottom: 40px;
          h2 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            text-transform: capitalize;
          }
          button {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--Other-white, #fff);
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            padding: 16px 40px;
            border: none;
            border-radius: 8px;
            background: var(--Primary-Pink, #f72585);
          }
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
          margin-top: 40px;
          margin-bottom: 33px;
          .profil-1 {
            display: flex;
            gap: 24px;
            align-items: center;
            img {
              width: 102px;
              height: 102px;
            }
            .name {
              h3 {
                color: var(--Text-Tittle, #1c3554);
                font-family: Rubik;
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
              }
              img {
                width: 151px;
                height: 24px;
                margin: 8px 0;
              }
              h5 {
                color: var(--Text-Body, #808080);
                font-family: "Montserrat";
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
              }
            }
          }
          .like {
            display: flex;
            align-items: center;
            gap: 32px;
          }
        }
        p {
          color: var(--Text-Body, #808080);
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 400;
          line-height: 27px;
        }
        hr {
          margin: 32px 0;
        }
        .btn-5 {
          padding: 24px 40px;
          width: 100%;
          color: var(--Other-white, #fff);
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          border-radius: 8px;
          background: var(--Primary-Pink, #f72585);
          border: none;
        }
      }
    }
    .oxiri {
      padding: 96px 0;
      .top {
        margin-bottom: 40px;
        h2 {
          color: var(--Text-Tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 32px;
          font-weight: 700;
          line-height: 48px;
          text-transform: capitalize;
        }
      }
      .cards {
        display: flex;
        gap: 17px;

        justify-content: center;
        flex-wrap: wrap;
        .card {
          display: flex;
          flex-direction: column;
          padding: 16px;
          max-width: 295px;
          transition: all 0.5s linear;
          .top {
            display: flex;
            justify-content: center;
            position: relative;
            top: -16px;
            button {
              border-radius: 8px;
              background: var(--Other-Blue, #4586d6);
              border: none;
              color: var(--Text-white, #fff);
              font-family: "Montserrat";
              font-size: 12px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
              padding: 4px 24px;
              cursor: pointer;
            }
          }

          h5 {
            color: var(--Text-Tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-transform: capitalize;
          }
          h6 {
            color: var(--Primary-Pink, #f72585);
            font-family: "Montserrat ";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin: 8px 0;
          }
          .yulduz {
            display: flex;
            align-items: center;
            gap: 8px;
            img {
              width: 96px;
            }
            span {
              color: var(--Text-Body, #808080);
              font-family: "Montserrat ";
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
            }
          }
          .narx {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 16px;
            del {
              color: var(--Text-In-Field, #ccc);
              font-family: Montserrat;
              font-size: 16px;
              font-weight: 400;
              line-height: 27px;
            }
            h5 {
              color: var(--Text-Tittle, #1c3554);
              font-family: Rubik;
              font-size: 24px;
              font-weight: 500;
              line-height: 32px;
            }
          }
          &:hover {
            background: var(--Other-white, #fff);
            filter: drop-shadow(40px 40px 57px rgba(0, 0, 0, 0.1));
          }
        }
      }
    }
    @media (max-width: 900px) {
      .detail {
        .detail-content {
          flex-direction: column-reverse;
          align-items: center;
        }
      }
    }
    @media (max-width: 840px) {
      .mentor .mentor-content .img {
        flex-direction: column;
        align-items: start;
      }
      .feedback .feedback-content .bottom {
        flex-direction: column;
        align-items: start;
      }
    }
    @media (max-width: 700px) {
      .detail .detail-content .ustun .feature .cards {
        flex-direction: column;
        align-items: center;
      }
    }
    @media (max-width: 650px) {
      h1 {
        font-size: 34px !important;
        margin: 30px 0 !important ;
      }
      .feedback .feedback-content .bottom .left h1 {
        margin: 0 !important ;
      }
      .feedback .feedback-content .bottom .right {
        img:nth-child(1) {
          width: 400px !important;
        }
        img:nth-child(2) {
          width: 380px !important;
        }
        img:nth-child(3) {
          width: 360px !important;
        }
        img:nth-child(4) {
          width: 340px !important;
        }
        img:nth-child(5) {
          width: 320px !important;
        }
      }
      .hero .hero-content .top {
        flex-direction: column;
        gap: 0;
        align-items: start;
      }
    }
    @media (max-width: 500px) {
      h2 {
        font-size: 26px !important;
      }
      h1 {
        font-size: 32px !important;
      }
      p {
        font-size: 14px !important;
      }
      button {
        font-size: 14px !important;
      }
      h3 {
        font-size: 18px !important;
      }
      h4 {
        font-size: 12px !important;
      }
      h5 {
        font-size: 12px !important;
      }
      .detail .detail-content aside {
        width: 350px;
      }
      .review .review-content .bottom .profil-1 img {
        width: 60px;
        height: 60px;
      }
      .feedback .feedback-content .bottom .right {
        img:nth-child(1) {
          width: 350px !important;
        }
        img:nth-child(2) {
          width: 340px !important;
        }
        img:nth-child(3) {
          width: 330px !important;
        }
        img:nth-child(4) {
          width: 320px !important;
        }
        img:nth-child(5) {
          width: 310px !important;
        }
      }
      .hero .hero-content .bottom {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}
