@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
body {
  padding-top: 121px;
}
header {
  position: fixed;

  top: 0px;
  right: 0;
  left: 0;
  background: white;
  z-index: 10;
  .nav {
    display: flex;
    padding: 36px 0;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    transition: all 0.3s linear;
    a {
      svg {
        display: none;
      }
    }
    .nav-items {
      display: flex;
      align-items: center;
      gap: 30px;
      input {
        padding: 12px 60px 12px 16px;
        outline: none;
        border-radius: 8px;
        border: 1px solid var(--Text-In-Field, #ccc);
        width: 443px;
        color: var(--Text-Body, #808080);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        background-image: url(../../images/search.svg);
        background-repeat: no-repeat;
        background-position: right 16px center;
      }
      ::placeholder {
        color: var(--Text-Body, #808080);
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      a {
        text-decoration: none;
        color: var(--Text-Tittle, #1c3554);
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        transition: all 0.5s linear;
        &:hover {
          color: #1a4c98;
        }

        button {
          padding: 8px 32px;
          border-radius: 8px;
          border: 1px solid var(--Text-Tittle, #1c3554);
          background: transparent;
          transition: all 0.5s linear;
          color: var(--Text-Tittle, #1c3554);
          font-family: "Montserrat ";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
          cursor: pointer;
          &:hover {
            background: #f72585;
            border: 1px solid var(--Text-Tittle, #f72585);
            color: white;
          }
        }
      }
      a:nth-child(3) {
        width: 120px !important;
      }
    }
    /* ////////////////// RESPONSIVE NAVBAR ////////////////////// */
    #navbar-responsive.open {
      left: 0;
    }

    .menu-btn {
      border: 0;
      background: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 4px;
      display: none;
    }

    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #333;
    }

    /* MEDIA QUERIES */

    @media (max-width: 1145px) {
      input {
        width: 300px !important;
      }
    }
    @media (max-width: 1050px) {
      #navbar-responsive {
        position: fixed;
        top: 104px;
        bottom: 0;
        left: -100%;
        height: 500px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transition: 0.5s;
      }

      .menu-btn {
        display: flex;
      }
    }
  }
  @media (max-width: 1050px) {
    .nav {
      padding: 20px 0;
    }

    #navbar-responsive {
      top: 72px !important;
    }
  }

  .navbar-shrink {
    padding: 10px 0;
    #navbar-responsive {
      top: 50px !important;
    }
  }
}
@media (max-width: 1000px) {
  body {
    padding-top: 72px;
  }
}
#backtop {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: -50px;
  cursor: pointer;
  z-index: 99;
  transition: 0.6s;
}
.details-page {
  header {
    background: #666666;
    .logo {
      img {
        display: none;
      }
      svg {
        display: block;
      }
    }
    a {
      color: white !important;
    }
    button:nth-child(1) {
      color: #fff !important;
      border: 1px solid #fff !important;
      &:hover {
        border: 1px solid #f72585 !important;
      }
    }
    input {
      background: transparent;
      color: #fff !important;
    }
    ::placeholder {
      color: #e6e6e6 !important;
    }
    .nav-items {
      background: #666666 !important;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #fff;
    }
  }
}
.blog-page {
  header {
    background: #666666;
    .logo {
      img {
        display: none;
      }
      svg {
        display: block;
      }
    }
    a {
      color: white !important;
    }
    button:nth-child(1) {
      color: #fff !important;
      border: 1px solid #fff !important;
      &:hover {
        border: 1px solid #f72585 !important;
      }
    }
    input {
      background: transparent;
      color: #fff !important;
    }
    ::placeholder {
      color: #e6e6e6 !important;
    }
    .nav-items {
      background: #666666 !important;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #fff;
    }
  }
}
.account-page {
  header {
    background: #666666;
    .logo {
      img {
        display: none;
      }
      svg {
        display: block;
      }
    }
    a {
      color: white !important;
    }
    button:nth-child(1) {
      color: #fff !important;
      border: 1px solid #fff !important;
      &:hover {
        border: 1px solid #f72585 !important;
      }
    }
    input {
      background: transparent;
      color: #fff !important;
    }
    ::placeholder {
      color: #e6e6e6 !important;
    }
    .nav-items {
      background: #666666 !important;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #fff;
    }
  }
}
